<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Mongoose Store</title>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
  rel="stylesheet"
/>
<style>
  body {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3) 70.71%
      ),
      url('https://cdn.pixabay.com/photo/2017/07/30/13/32/space-2554361_960_720.png');
    font-family: 'Indie Flower';
  }
  .container {
    padding: 10px;
  }
  input {
    font-family: 'Indie Flower';
  }
</style>
