<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Add New Hat</h1>
      <form action="/products" method="POST">
        <label><input type="text" name="name" /><span>Name</span></label
        ><br />
        <label
          ><input type="text" name="description" /><span
            >Description</span
          ></label
        ><br />
        <label><input type="text" name="img" /><span>Image</span></label
        ><br />
        <label><input type="number" name="price" /><span>Price</span></label
        ><br />
        <label><input type="number" name="qty" /><span>Quantity</span></label
        ><br />
        <input type="submit" value="Add New Hat" class="btn" />
      </form>
    </div>
  </body>
</html>
