<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>
  </head>
  <body>
    <div class="container white">
      <h1>Add New Hat</h1>
      <form action="/products" method="POST">
        <label><span>Name</span><input type="text" name="name" /></label><br />
        <label
          ><span>Description</span
          ><input type="text" name="description" /></label
        ><br />
        <label><span>Image</span><input type="text" name="img" /></label><br />
        <label><span>Price</span><input type="number" name="price" /></label
        ><br />
        <label><span>Quantity</span><input type="number" name="qty" /></label
        ><br /><br />
        <input type="submit" value="Add New Hat" class="btn" />
      </form>
    </div>
  </body>
</html>
